{
    "extends": [
        "airbnb-base",
        "airbnb-typescript"
    ],
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "rules": {
        "quotes": [
            "error", "double"
        ],
        "ident": [
            "error", 6
        ],
        "linebreak-style": [
            "error", "windows"
        ]
    }
}
