.button {
    box-sizing: border-box;
    height: 38px;
    background-color: #AB4DCC;
    border-radius: 20px;
    border: none;
}

.button:hover {
    cursor: pointer;
}

.button__text {
    font-family: "Arial";
    color: #FFFFFF;
    font-size: 13px;
    line-height: 13px;
}