@import "/variables";

.button {
    border: none;
    border-radius: 20px;
    height: 38px;
    box-sizing: border-box;
    background-color: $purple;
}

.button:hover {
    cursor: pointer;
}

.button__text {
    font-family: Inter, serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    color: $white;
}
