@import "/variables";

.user {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid $light-grey;
    padding: 0 10px;
    width: 310px;
    height: 71px;
    min-height: 71px;
    box-sizing: border-box;

    &.selected {
        background-color: rgb(171 77 204 / 30%);
    }
}

.user__content {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    height: 48px
}

.user__image {
    border-radius: 50%;
    width: 47px;
    height: 47px;
}

.user__data {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 48px;
    max-width: 190px;
}

.user__name {
    font-family: Inter, serif;
    font-weight: 700;
    font-size: 13px;
    color: $black;
}

.user__message {
    overflow: hidden;
    height: 30px;;
    font-family: Inter, serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: $grey;
}

.user__status {
    position: relative;
    width: 25px;
    height: 48px;
}

.user__message-time {
    position: absolute;
    right: 0;
    top: 0;
    font-family: Inter, serif;
    font-weight: 400;
    font-size: 9px;
    line-height: 16px;
    color: $grey;
}

.user__unread {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: $purple;
}

.user__unread-number {
    font-family: Inter, serif;
    font-weight: 400;
    font-size: 11px;
    color: $white;
}
