<main class="error-page">
    <div class="error-page__container">
        <h1 class="error-page__title">404</h1>
        <p class="error-page__text">Не туда попали</p>
        {{> Link className="error-page__link" page="login" text="Назад" }}
    </div>
</main>
