{{#> Dialog }}
    <form class="login-page">
        <div class="login-page__content">
            {{> PageTitle className="login-page__title" title="Вход" }}
            <ul class="login-page__input-elements">
                {{#each (login-fields)}}
                    {{> InputField }}
                {{/each}}
            </ul>
        </div>
        <div class="login-page__footer">
            {{> Button className="login-page__button" text="Вход" page="chat" }}
            {{> Link className="login-page__link" text="Нет аккаунта?" page="register" }}
        </div>
    </form>
{{/ Dialog}}
