@import "/variables";

.login-page {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 30px;
    width: 280px;
    height: 450px;
    box-sizing: border-box;
}

.login-page__title {
    padding-bottom: 24px;
}

.login-page__footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 62px;
}

.login-page__input.input-field {
    width: 280px;
}

.login-page__button.button {
    width: 280px;
}

.login-page__error-text {
    padding-top: 12px;
    font-family: Inter, serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: $red;
}
