.login-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    box-sizing: border-box;
    width: 280px;
    height: 450px;
    padding-top: 50px;
    padding-bottom: 30px;
}

.login-page__title {
    padding-bottom: 24px;
}

.login-page__footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 62px;
}

.login-page__input.input-field {
    width: 280px;
}

.login-page__button.button {
    width: 280px;
}