{{#> Dialog }}
    <form class="login-page">
        <div class="login-page__content">
            {{> PageTitle title="Вход" }}
            {{> InputField className="login-page__element" title="Логин" name="login" type="text" }}
            {{> InputField className="login-page__element" title="Пароль" name="password" type="password" }}
        </div>
        <div class="login-page__footer">
            {{> Button className="login-page__button" text="Авторизоваться" page="chat" }}
            {{> Link className="login-page__link" text="Нет аккаунта?" page="register" }}
        </div>
    </form>
{{/ Dialog}}