.register-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    box-sizing: border-box;
    width: 280px;
    height: 615px;
    padding-top: 50px;
    padding-bottom: 30px;
}

.register-page__footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 62px;
}

.register-page__element.input-field {
    width: 280px;
}

.register-page__button.button {
    width: 280px;
}