{{#> ProfilePageWrapper }}
    <form class="profile-change-data-page__form">
        <img class="profile-change-data-page__image" src="{{ profilePlaceholder }}" alt="Аватар пользователя">
        {{> ProfileForm data="true" }}
    </form>
    {{> Button className="profile-change-data-page" page="profile" text="Сохранить" }}
{{/ ProfilePageWrapper }}
