.profile-button {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    cursor: pointer;
}
