.profile-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
