{{#> ProfilePageWrapper }}
    <form class="profile-change-password-page__form">
        <img class="profile-change-password-page__image" src="{{ profilePlaceholder }}" alt="Аватар пользователя">
        {{> ProfileForm data="" }}
    </form>
    {{> Button className="profile-change-password-page" page="profile" text="Сохранить" }}
{{/ ProfilePageWrapper }}