@import "/variables";

.profile-change-password-page__form {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.profile-change-password-page__form-data {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.profile-change-password-page__image {
    margin-bottom: 65px;
    border-radius: 50%;
    width: 130px;
    height: 130px;
}

.profile-change-password-page__title {
    margin-bottom: 30px;
}

.profile-change-password-page.button {
    margin-top: 50px;
    width: 280px;
}

.profile-change-password-page__error-text {
    padding-top: 8px;
    font-family: Inter, serif;
    font-size: 13px;
    line-height: 15px;
    color: $red;
}
