.input-field {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    box-sizing: border-box;
    height: 52px;
    padding: 16px 0 3px;
    border-bottom: 2px solid #EAEAEA;
}

.input-field__title {
    font-family: "Inter", "Arial";
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: #999999;
    padding: 0;
}
