<li class="input-field{{#if className}} {{ className }} {{/if}}">
    <label class="input-field__title">{{ title }}</label>
    {{> Input className="input-field__element" title=title type=type name=name }}
</li>
