@import "/variables";

.chat-settings-container {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.chat-settings {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    height: 500px;
    padding: 20px;
    background-color: white;
    border: 2px solid $grey;
    z-index: 2000;
    border-radius: 24px;
}

.chat-settings__image-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 114px;
}

.chat-settings__chat-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.chat-settings__button {
    border: none;
    padding: 6px 10px;
    font-family: Inter, Arial, serif;
    color: white;
    font-size: 13px;
    line-height: 15px;
    border-radius: 12px;
    cursor: pointer;
    background-color: $purple;
}

.chat-settings__close-button {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

// change image

#chat-image {
    display: none;
}

#chat-image-submit {
    display: none;
}

#chatId {
    display: none;
}

.chat-image {
    z-index: 3000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.chat-image__label {
    z-index: 4000;
    margin-right: 30px;
    font-family: Inter, serif;
    font-weight: 400;
    font-size: 14px;
    color: $purple;
    cursor: pointer;
}

.chat-image-submit__label {
    font-family: Inter, serif;
    font-weight: 400;
    font-size: 14px;
    color: $purple;
    cursor: pointer;
}

// users list

.chat-settings__users-list {
    margin-top: 16px;
    width: 600px;
}

.chat-settings__users-list-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    max-height: 200px;
    overflow-y: scroll;
}

.chat-settings__users-list-title {
    font-family: Inter, Arial, serif;
    font-size: 14px;
}

.chat-settings__users-list-user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2px 0;
    width: 300px;
    height: 24px;
    padding: 0 0 0 10px;
    border: 1px solid $light-grey;
    border-radius: 16px;
    overflow: hidden;
}

.chat-settings__delete-user-button {
    height: 24px;
    padding: 0 8px 0 4px;
    color: white;
    background-color: $purple;
    border: none;
    cursor: pointer;
}

.chat-settings__users-name {
    font-family: Inter, Arial, serif;
    font-size: 13px;
}

// add user

.chat-settings__add-container {
    position: relative;
    display: flex;
    font-display: row;
    justify-content: start;
    align-items: center;
    margin-top: 16px;
    width: 600px;
}

.chat-settings__add-title {
    font-family: Inter, Arial, serif;
    font-size: 14px;
    padding-right: 100px;
}
