.profile-footer-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    height: 33px;
    border-bottom: 2px solid #EAEAEA;

    .link__text {
        font-size: 13px;
    }
}

.profile-footer-button_red {
    .link__text {
        font-size: 13px;
        color: #FF0000;
    }
}
