@import "/variables";

.profile-footer-button {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 2px solid $light-grey;
    height: 33px;
    box-sizing: border-box;

    .link__text {
        font-size: 13px;
    }
}

.profile-footer-button_red {
    .link__text {
        font-size: 13px;
        color: $red;
    }
}
