<div class="dialog-wrapper">
    <div class="error-links">
        <p class="error-links__text">Ссылки на страницы 404 и 500</p>
        {{> Link page="404" text="404" }}
        {{> Link page="500" text="500" }}
    </div>
    <div class="dialog">
    {{> @partial-block }}
    </div>
</div>
