<button class="return-button" page="chat">
    <img src="{{ arrowLeft }}" alt="Стрелка" class="return-button__arrow" page="chat">
    <p class="return-button__text" page="chat">Вернуться</p>
</button>