@import "/variables";

.return-button {
    position: absolute;
    left: 20px;
    top: 20px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border: none;
    border-radius: 20px;
    padding: 0 13px 0 15px;
    height: 38px;
    box-sizing: border-box;
    background-color: $purple;
}

.return-button:hover {
    cursor: pointer;
}

.return-button__arrow {
    margin-right: 10px;
    width: 16px;
    height: 14px;
}

.return-button__text {
    font-family: Inter, serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    color: $white;
}
