<div class="profile-page">
    {{> ReturnButton }}
    <form class="profile-page__form">
        <img class="profile-page__image" src="/assets/profile-placeholder.png" alt="Аватар пользователя">
        {{> PageTitle className="profile-page__title" title="Имя пользователя" }}
        {{> InputField className="profile-page__input" title="Почта" name="email" type="email" }}
        {{> InputField className="profile-page__input" title="Логин" name="login" type="text" }}
        {{> InputField className="profile-page__input" title="Имя" name="first-name" type="text" }}
        {{> InputField className="profile-page__input" title="Фамилия" name="last-name" type="text" }}
        {{> InputField className="profile-page__input" title="Имя в чате" name="chat-name" type="text" }}
        {{> InputField className="profile-page__input" title="Телефон" name="tel" type="tel" }}
    </form>
</div>