{{#> ProfilePageWrapper }}
    <form class="profile-page__form">
        <img class="profile-page__image" src="/assets/profile-placeholder.png" alt="Аватар пользователя">
        {{> PageTitle className="profile-page__title" title="Имя пользователя" }}
        {{> ProfileForm }}
    </form>
    {{> ProfileFooter }}
{{/ ProfilePageWrapper }}