{{#> ProfilePageWrapper }}
    <form class="profile-page__form">
        <img class="profile-page__image" src="{{ profilePlaceholder }}" alt="Аватар пользователя">
        {{> PageTitle className="profile-page__title" title="Имя пользователя" }}
        {{> ProfileForm data="true" }}
    </form>
    {{> ProfileFooter }}
{{/ ProfilePageWrapper }}