
.profile-page__form {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.profile-page__image {
    margin-bottom: 20px;
    border-radius: 50%;
    width: 130px;
    height: 130px;
}

.profile-page__title {
    margin-bottom: 30px;
    height: 25px;
}

.profile-form__input > p.profile-imput-immutable {
    left: auto;
    right: 0;
    bottom: 6px;
    font-size: 13px;
    color: black;
}
