@import "/variables";

.search {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    width: 250px;
    height: 32px;
    background-color: $search-field;
}

.search__icon {
    margin-left: 3px;
    width: 20px;
    height: 20px;
}

.search__input {
    border: none;
    width: 220px;
    background-color: $search-field;
}

.search__input:focus {
    outline: none;
}
