@import "/variables";

.chat-page {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 100%;
}

.left-column {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    border-right: 2px solid $light-grey;
    width: 310px;
    height: 100%;
    box-sizing: content-box;
}

.left-column__header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 74px;
    box-sizing: border-box;
}

.left-column__header-content {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px 0 14px;
    width: 100%;
    box-sizing: border-box;
}

.left-column__users {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    overflow-y: scroll;
}

.left-column__users::-webkit-scrollbar {
    display: none;
}

.middle-column {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 969px;
    background-image: url("/assets/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
