.profile-page {
    position: relative;
    width: 100%;
    height: 100%;
}

.profile-page__content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    position: relative;
    width: 510px;
    height: 100%;
    margin: 0 auto;
    padding-top: 60px;
    box-sizing: border-box;
}
